.tablesaw-sortable-switch,
.tablesaw-bar,
table caption,
thead,
.tablesaw-priority-3 b,
.tablesaw-priority-3 font,
#page-title,
.breadcrumb,
h3,
ul,
section>font,
#sidebar-second,
.sticky-header
{display: none}

#content {
    width: 100%;
}
.tablesaw-priority-1 {
    width: 200px;
}
.maintextwrap {
    padding-top: 0px !important;
}
.tablesaw-priority-6 {
    font-size: 0px;
}
.tablesaw-priority-6 font {
    font-size: 11px;
    line-height: 1.5 !important;
    color: #6b7280 !important;
}
.tablesaw-priority-6 img {
    display: none !important;
}
table{
    margin-bottom: 50px;
}
tr {
    background-color: #f9fafb;
    border: 1px solid #d1d5db;
}
td {
    padding: 5px !important;
}
td:first-child {
    padding-left: 10px !important;
    /* display: flex;
    flex-direction: column;
    height: 80px;
    justify-content: space-evenly;
    gap: 0; */
}
/* td:first-child a, td:first-child a img {
    padding: 0 !important;
    margin: 0 !important;
    width: 18px;
    height: 18px;
}
td:first-child a img {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
} */
.tablesaw-priority-1 {
    color: #1f2937;
}
.tablesaw-priority-4 {
    color: #1f2937;
}
.tablesaw-priority-5 {
    color: #6b7280;
    font-size: 12px;
}
.tablesaw-priority-5 font {
    color: #6b7280;
    font-size: 12px;
}
.tablesaw-priority-2 {
    font-size: 20px;
    color: #6b7280;
}
.tablesaw-priority-2 font {
    padding-left: 10px;
}
.waitingList {
    background-color: #fef3c7;
}
.confirmed {
    background-color: #dcfce7;
}
.tmp {
    background-color: #e0f2fe;
}
.inThePast {
    display: none;
}
.waitingList a {
    color: #422006;
}
.confirmed a {
    color: #052e16;
}.tmp a {
    color: #082f49;
}

.pagination-sm {
    display: flex !important;
    gap: 8px;
}

.pagination-sm li a {
    display: none;
}

.pagination-sm li:first-child a {
    border: 0px !important;
    display: block;
    background-color: #6b7280 !important;
    padding: 5px 10px !important;
    color: white !important;
    border-radius: 4px !important;
    font-size: large;
}
.pagination-sm li:first-child a:hover {
    border: 0px !important;
    display: block;
    background-color: #4b5563 !important;
    padding: 5px 10px !important;
    color: white !important;
    border-radius: 4px !important;
    font-size: large;
}

.pagination-sm li:last-child a {
    border: 0px !important;
    display: block;
    background-color: #22c55e !important;
    padding: 5px 10px !important;
    color: white !important;
    border-radius: 4px !important;
    font-size: large;
}

.pagination-sm li:last-child a:hover {
    background-color: #16a34a !important;
    padding: 5px 10px !important;
    border: 0px !important;
    color: white !important;
    border-radius: 4px !important;
    font-size: large;
}
